<!doctype html>
<html lang="en" ng-app="tosApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TOS</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="static/css/main.css">

        <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900|Montserrat:400,700" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="static/css/lib/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/lib/font-awesome.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.11/angular.min.js"></script>
        <script src="static/js/lib/angular-sanitize.min.js"></script>
        <script src="static/js/lib/angular-ui-router.min.js"></script>
        <script src="static/js/lib/jquery.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Terms of Service <i class="fa fa-plus-circle"></i></a>
                </div>
                <div id="navbar">
                    <ul class="nav navbar-nav">
                        <li ui-sref-active="active"><a ui-sref="index">Services</a></li>
                        <li ui-sref-active="active"><a>API</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div ui-view></div>
                </div>
            </div>
        </div>

        <!-- AngularJS app -->
        <script src="static/js/app.js"></script>
        <script src="static/js/controllers.js"></script>
        <script src="static/js/directives.js"></script>
        <script src="static/js/services.js"></script>

        <!-- JS libraries -->
        <script src="static/js/lib/bootstrap.min.js"></script>
        <script src="static/js/lib/ui-bootstrap-tpls.js"></script>
        <script src="static/js/lib/lodash.underscore.min.js"></script>
    </body>
</html>