<html>
    <head></head>
    <style type="text/css">
        
    </style>
    <body>
        <p>Here is a list of the terms of service you have agreed to with {{ service }}</p>
        <p>Please verify your email address by clicking this <a href="{{ request.url }}/{{activation_ID }}/">link</a> or by copying and pasting {{ request.url  }}/{{ activation_ID }}/ into your browser.</p>
        <ul>
        {% for policy, value in terms.iteritems() %}
            <li>{{ policy }}, {{ value }}</li>
        {% endfor %}
        </ul>
    </body>
</html>