<html>
    <head></head>
    <style type="text/css">
        ul {
            padding-left: 0;
            list-style: none;
        }
    </style>
    <body>
        <h2>{{ service }}</h2>
        <p>Terms you have agreed to today:</p>
        <ul>
        {% for policy, value in terms.iteritems() %}
            <li><b>{{ policy }}</b>: {{ value }}</li>
        {% endfor %}
        </ul>
        <br />
        <p>Please verify your email address by clicking this <a href="{{ activate_link }}">link</a></p>
        <p>If you did not register for {{ service }}, please click <a href="{{ deactivate_link }}">here</a>
    </body>
</html>